

<HTML>
<HEAD>
   <META http-equiv=refresh 
         content="10; URL=http://localhost:3000/regolamento"> 
   <TITLE> Admin</TITLE>
</HEAD>
<BODY>
<div class="center jumbotron">
    <CENTER><h1>Benvenuto Admin</h1></CENTER>
    <br/>
    <br/>

    <p> Qui avrai la possibilità di consultare le info riguardo i clan disponibili, i profili di tutti gli utenti dell'applicazione e, in caso di mancato 
    rispetto delle regole, si potrà bannare o cancellare un account.
    Inoltre sarà anche possibile nominare a piacere un nuovo Capoclan. </p>
    <br/>
    <br/>
    <p> Tra poco verrai reindirizzato alla pagina di regolamento. </p> 

    <HR WIDTH="100%">
</div>
</BODY>
</HTML>


