

<% if user_signed_in? %>
<footer class="footer">



<small> War-Rails </small>

<nav>

<ul>

<li><%= link_to "AboutApp", aboutapp_path %></li>
 <li><%= link_to "Contatti", contatti_path %></li>

 </ul>

 </nav>

 <% end %>

 </footer>
