
<!DOCTYPE html>

<html>
<head>
<title>AboutApp</title>
</head>


<body>

<div class="center jumbotron">

<h1>AboutApp</h1>

<p>
Laboratorio di Applicazioni Software e Sicurezza Informatica <br><br>

L'esame consiste nella progettazione e sviluppo di un applicazione web utilizzando Ruby on Rails. <br><br>

La pagina del corso si può trovare su <a href="https://piazza.com/">Piazza</a> nei corsi di Spring2019.<br>
</p>

</div>

</body>
</html>
