
<!DOCTYPE html>
<html>
<head>
<title>Contatti</title>
</head>

<body>

<div class="center jumbotron">

<h1>Contatti</h1>
<p>Siamo degli studenti di Ingegneria Informatica e Automatica dell'Università Sapienza di Roma.</p><br><br>
<br>
<p> Andrea Aurizi -- aurizi.1706890@studenti.uniroma1.it </p>
<p> Daniele Iacomini -- iacomini.1706790@studenti.uniroma1.it </p>
<p> Daniele Cantisani -- cantisani.1707633@studenti.uniroma1.it </p>
<p> Damiano Ludovici -- ludovici.1697348@studenti.uniroma1.it </p>

</div>
</p>
</body>
</html>
