<!DOCTYPE html>

<html>
<head>
<title>War-Rails</title>
</head>
<body>
<div class="center jumbotron">

  <h1>War-Rails</h1>

<p>    Benvenuti nella nostra applicazione Rails!  <br>
    Iscriviti subito, scegli il tuo clan e il tuo equipaggiamento
    e preparati per combattere contro gli altri giocatori!!<br> Per saperne di più
    visita la pagina del <%= link_to "Regolamento", regolamento_path %> dove potrai trovare informazioni dettagliate
    sulle regole del gioco oppure la pagina dei <%= link_to "Clan", infoclan_path %> dove troverai le
    caratteristiche dei Clan. </p>  <br>
  </h2>
    <br/>
    <br/>
    <br/>
    <br/>
  <%= link_to "Sign up now!", "register", class: "btn btn-lg btn-primary" %>
</div>


</body>
</html>
