<div class="center jumbotron">

<!DOCTYPE html>

<html>
<head>
<title>Home</title>
</head>

  <h1>War-Rails</h1>

  <h2>
    Info Application and About Us. <br/> <br/>
    - Choose your side !!!
  </h2>
    <br/>
    <br/>
    <br/>
    <br/>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


</body>
</html>
