
<!DOCTYPE html>
<html>
<head>
<title>InfoClan</title>
</head>


<body>
<div class="center jumbotron">
<h1>InfoClan</h1>

<p>

Qui puoi trovare tutte le informazioni e le caratteristiche sui Clan
selezionabili durante l'iscrizione al Sito.

</p>

</div>


</body>
</html>
