<!DOCTYPE html>
<html>
<head>
<title>Regolamento</title>
</head>



<body>
<div class="center jumbotron">

<h1>Regolamento</h1>

<p>

Qui puoi trovare un semplice tutorial al Sito ed il Regolamento delle battaglie.
</p>

</div>
</body>
</html>
