

<HTML>
<HEAD>

<%-#   <META http-equiv=refresh  content="10; URL=http://localhost:3000/regolamento"> -%>

   <TITLE> Admin</TITLE>
</HEAD>
<BODY>
<div class="center jumbotron">
    <CENTER><h1>Calendar  Admin</h1></CENTER>
    <br/>
    <br/>

    <p> Qui avrai la possibilità di registrare nuovi eventi o semplicemente di consultarli. </p>
    <br/>
    <br/>

    
   <%-#  <p> Tra poco verrai reindirizzato alla pagina di regolamento. </p>-%>

    <HR WIDTH="100%">
</div>
</BODY>
</HTML>


