<br><br>

<title> Modifica Status Clan </title>

<%= form_for @clan do |f| %>

    <div class="field">
          <h3>Modifica Status del Clan</h3>
           <br/><br/>
          <%= f.label :status_clan %>
            <%= f.text_field(:status_clan, class: 'form-control') %> <br/>

            </div>

   <%= f.submit "Salva Modifiche" ,:class=> "btn btn-lg btn-primary"%>
<% end %>
